// components/_btn.scss
button,
.am_btn {
    display: block;
    border: 0;
    background-color: $white;
    width: 100%;
    text-align: left;
    padding: 20px 0 20px 10px;
    &--right,
    &--left,
    &--bottom {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 10px;
        }
    }

    &--right {
        @include icon(chevron-right);
    }

    &--left {
        @include icon(chevron-left);
    }

    &--bottom {
        @include icon(chevron-bottom);
    }
}