// components/_band.scss
#{$project}_band {
    display: flex;
    position: absolute;
    top: 0;
    left: -35%;
    height: 100%;
    width: 0;
    opacity: 0;
    z-index: 2;
    transform: translate( -35% , 0, 0 );
    transition: all .5s ease-in-out;


    &.active {
        transform: translate( 0, 0, 0 );
        left: 0;
        opacity: 1;
        width: 33.333%;
    }

    &__header {
        display: flex;
    }

    
    &__content {
        background-color: $white;
        z-index: 2;
        width: 100%;
        padding: 40px 0;
    }

    &__nav {
        width: 100%;
        padding: 15px 0;
        list-style: none;
        position: absolute;
        left: 0;

        &--level1 {
            transition: all .5s ease-in-out;
            &.submenu-active {
                left: -100%;
            }
        }

        &--level2 {
            width: 100%;
            position: absolute;
            top: 0;
            left: -100%;
            transition: all .5s ease-in-out;
            &.active {
                display: block;
                left: 100%;
                z-index: 3;
            }
        }
    }

    &__item {
        border-bottom: 1px solid $grey-light;
        &:last-child {
            border: 0;
        }
    }
}