// components/_dropdown.scss
#{$project}_dropdown {
    &__content {
        max-height: 0;
        transition: all .5s ease-in-out;
    }

    &.active {
        #{$project}_dropdown__content {
            max-height: 500px;
            transition: all .5s ease-in-out;
        }
    }
}