// layouts/_header.scss
#{$project}_header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
    box-shadow: 0px 3px 50px 0px $grey-light;

    &__menu {
        display: flex;
        flex-flow: row nowrap;

        .profile {
            @include icon(profile);
        }
    }
}